:host {
  position: absolute;
  display: block;
  top: 32px;
  width: 100%;
  height: auto;
  padding: 30px;
}

p.copy {
  padding-bottom: 40px;
  webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
}