
<svg [attr.width]="width"
      [attr.height]="44"
      (click)="addMeter($event)">

   <g class="control__group">
      <line [attr.x1]="0"
            [attr.x2]="22"
            [attr.y1]="11"
            [attr.y2]="11"
            [attr.stroke]="meters[0].level.color"
            [attr.stroke-width]="1"></line>
      <line [attr.x1]="11"
            [attr.x2]="11"
            [attr.y1]="0"
            [attr.y2]="22"
            [attr.stroke]="meters[0].level.color"
            [attr.stroke-width]="1"></line>
    </g>

 </svg>

 <svg [attr.width]="width"
      [attr.height]="height"
      (mousemove)="onMouseMove($event)"
      (mouseleave)="onMouseLeave($event)">
   <path class="levels"
         [attr.d]="path"
         [attr.fill]="color">
   </path>
   <g *ngFor="let meter of meters" [attr.transform]="meter.transform"
   [style.opacity]="isVisible === true ? 1 : 0">
      <text *ngIf="meters.length > 0"
        style="font-family: 'Exo 2'"
        [attr.fill]="meter.tooltip.fill"
        [attr.x]="meter.tooltip.x"
        [attr.y]="meter.tooltip.y">
        {{meter.val}}</text>
      <line *ngIf="meters.length > 0"
            [attr.x1]="meter.level.points[0].x"
            [attr.x2]="meter.level.points[1].x"
            [attr.y1]="meter.playhead.points[0].y"
            [attr.y2]="meter.playhead.points[1].y"
            [attr.stroke]="meter.playhead.color"
            [attr.stroke-width]="meter.playhead.stroke"
            (click)="onMeterClick($event, meter)">
      </line>
      <line *ngIf="meters.length > 0"
            [attr.x1]="meter.level.points[0].x"
            [attr.x2]="meter.level.points[1].x"
            [attr.y1]="meter.level.points[0].y"
            [attr.y2]="meter.level.points[1].y"
            [attr.stroke]="meter.level.color"
            [attr.stroke-width]="meter.level.stroke"
            (click)="onMeterClick($event, meter)">
      </line>
   </g>
 </svg>
