body {
  background: #020202;
  color: #fdfdfd;
  font-size: 16px;
}

a {
  color: #FFFFFF;
  cursor: pointer;
}

audio::-webkit-media-controls-panel {
    background-color: #010101;
}

p {
  color: rgba( 255, 255, 255, 0.6);
}

a:link, a:visited {
  text-decoration: none;
}

.button {
 
  background: rgba(200,200,200,0.3);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 6px;
  margin-top: 10px;
  height: 24px;
  color: rgba(255,255,255,0.3);
  text-align: center;
  max-width: 180px;
  max-height: 28px;
  height: 28px;
  cursor: pointer;
  padding-top: 6px;
  font-size: 0.8em;
  font-family: 'Lato' sans-serif;
  cursor: pointer;
  
  &:hover {
    color: rgba(255,255,255,0.6);
    border: 1px solid rgba(255,255,255,0.3);
  }
  &.is--disabled {
    cursor: default;
    color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
    &:hover {
      color: rgba(255,255,255,0.2);
      border: 1px solid rgba(255,255,255,0.2);
    }
  }
}

input[type='text'] {
  background: #020202;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 6px;
  outline: none;
  margin-top: 10px;
  height: 24px;
  min-width: 180px;
  height: 32px;
  color: rgba(255,255,255,0.5);
  &:focus {
      border: 1px solid rgba(255,255,255,0.2);
  }
}
