body {
  background: #020202;
  color: #fdfdfd;
  font-size: 16px;
}

a {
  color: #FFFFFF;
  cursor: pointer;
}

audio::-webkit-media-controls-panel {
    background-color: #010101;
}


// audio::-webkit-media-controls-volume-slider, audio::-webkit-media-controls-timeline {
//   background-color: #8DE969;
// }

// audio::-webkit-media-controls-timeline-container {
//   background-color: #787878;
// }
  